<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BIO.io</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhLrVnYrxfeB7tLi52UZRviVbyIJWYISo"></script>
</head>
<body ng-app="Bioio">
    


    @{ 
        if (User.Identity.IsAuthenticated)
        {


            <div class="flex-container">
                <ul id="slide-out" class="side-nav fixed">
                    <li><img src="../../img/Bio_io Logo.png" class="logo" /><h4 id="logo_name">BIO.IO</h4></li>
                    <li><img src="../../img/bio_io_instructions.png" class="icon" /><a href="../../docs/TestInstructions.txt" download="Acme Instructions" id="instructions"><label>README</label></a></li>
                    @*<li><img src="../../img/bio_io_active_devices.png" class="icon" /><label>@Html.ActionLink("Active", "Index", "Active", new { @style = "display:inline" })</label></li>*@
                    @*<li><img src="../../img/bio_io_routes.png" class="icon" /><label>@Url.Action("Routes", "All" new { @style = "display:inline" })</label></li>*@
                    <li><img src="../../img/bio_io_active_devices.png" class="icon" /><a href="@Url.Action("Index", "Active")"><label>Active</label></a></li>
                    <li><img src="../../img/bio_io_routes.png" class="icon" /><a href="@Url.Action("All", "Routes")"><label>Routes</label></a></li>
                    <li><img src="../../img/bio_io_account.png" class="icon" /><a href="@Url.Action("Index", "User")"><label>Account</label></a></li>
                     @*<li><img src="../../img/bio_io_account.png" class="icon" /><label>@Html.ActionLink("Account", "Index", "User", new { @style = "display:inline" })</label></li>*@

                </ul>
                @*<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>*@
            </div>
            } 
        }

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
</body>
</html>
