<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BIO.io</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhLrVnYrxfeB7tLi52UZRviVbyIJWYISo"></script>
</head>
<body ng-app="Bioio">


    @*<ul id="slide-out" class="side-nav fixed">
        <li><a href="#!">First Sidebar Link</a></li>
        <li><a href="#!">Second Sidebar Link</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>*@


    
            <ul id="slide-out" class="side-nav fixed">
                <li><img src="../../img/Bio_io Logo.png" class="logo" /><h4 id="logo_name">BIO.IO</h4></li>
                <li><img src="../../img/bio_io_instructions.png" class="icon" /><label></label></a></li>
                <li><img src="../../img/bio_io_active_devices.png" class="icon"/><label>@Html.ActionLink("Active", "Index", "Active", new {@style="display:inline" })</label></li>
                <li><img src="../../img/bio_io_routes.png" class="icon" /><label>@Html.ActionLink("Routes", "All", "Routes", new {@style = "display:inline" })</label></li>
                <li><img src="../../img/bio_io_account.png" class="icon" /><label>@Html.ActionLink("Account", "Index", "User", new {@style = "display:inline" })</label></li>
                
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        

    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Dan Ventura @DateTime.Now.Year - BIO.io</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
</body>
</html>
